<header class="cabecalho">

    <div class="container-grid header-flex">
        <!-- container flex -->

        <!-- flex items -->
        <img class="logo" src="/assets/images/logo.svg" title="Logotipo E-Players" alt="Imagem do Logo do E-Players">

        <nav class="menu">
            <a routerLink="">Início</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/produto">Produto</a>
            <a href="#">Resultados</a>
            <a href="#">Notícias</a>
        </nav>
        <!-- onclick="abreFechaMenu();" -->
        <img onclick="abreFechaMenu();" class="menu-bars" src="/assets/images/bars.svg" alt="">
    </div>


</header>
